@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See all <a asp-page="/Superheroes/Index">Superheroes</a>!</p>
</div>
